body {
    width: 100%;
    margin: 0;
}

.content{
    width: 35%;
    margin-top: 3px;
    float: left;
    padding-left: 4%;
    margin-bottom: 30px;
    height: auto;
}

.actImage{
    width: 58%;
    float:right;
    margin: 3px 20px 50px 0;
}

h1.contentH1{
    font-size:400%;
    font-family: 'Shogeking Oniki';
    color: #ff7978;
}

.desc{
    font-family: 'Roboto';
    color: darkgray;
    padding-left: 30px;
    font-size: 130%;
    margin-bottom: 40px;
}

.bodyMid{
    margin-bottom: 30px;
}

.bottomPic{
    margin: 60px 0 20px 5%;
    width: 34%;
}

.contentBottom{
    margin-top:60px;
    font-size: 130%;
    font-family: 'Roboto';
    color: darkgray;
    width:40%;
    margin-right: 19%;
    float:right;
}